<div class="row">
  <div class="col-md-8 offset-md-2">
    <h4 class="border-bottom border-dark border-2 mb-3">記事を編集する</h4>

    <%= render "articles/form", article: @article, grades: @grades %>
 
  </div>
</div>