<div class="row py-4">
  <div class="col-md-8 offset-md-2">
    <h4 class="border-start border-success border-5 p-2 mb-3">記事を編集する</h4>

    <%= render "articles/form", article: @article, grades: @grades %>
 
  </div>
</div>