<div class="row">
  <aside class="col-sm-4">
    サイドバー
  </aside>
  <main class="col-sm-8">
    
    <%= render "create_user_button" %>
    
    <div>
      <h4 class="border-bottom border-dark border-2 mb-3">園児一覧</h4>

      <%= render "users", users: @users %>
    </div>
  </main>
</div>