<div class="row">
  <aside class="col-md-4 py-4 mb-1 bg-light order-sm-2 order-md-1">
    <div class="sidebar-item">
      <%= render "search", name: @name, grades: @grades %>
    </div>
  </aside>
  <main class="col-md-8 py-4 mb-1 order-sm-1 order-md-2">
    <div>
      <h4 class="border-start border-success border-5 p-2 mb-3">園児一覧</h4>
      <%= render "users", users: @users %>
    </div>
  </main>
</div>