<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">桜ヶ丘こども園 Dayily News</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="MENU">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collpase navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a href="#" class="nav-link">教員一覧</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>